<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
  	
	<bean id="tt-jryDataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="${jry.tt.jdbc.driver}" />
        <property name="url" value="${jry.tt.jdbc.url}" />
        <property name="username" value="${jry.tt.jdbc.username}" />
        <property name="password" value="${jry.tt.jdbc.password}" />
        <property name="testOnBorrow" value="true" />
        <property name="validationQuery" value="select 1" />
    </bean>	
</beans>